/* Write your CSS here */
.matches-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.matches-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.matches-list-of-cards-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
